<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951752901921-kh4guilnntn018o14s0nno5rhhbqfhl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951752901921-kh4guilnntn018o14s0nno5rhhbqfhl2</string>
	<key>API_KEY</key>
	<string>AIzaSyAefiZt0rqLg4o4cbCVZf1NBq3du1g0Xj0</string>
	<key>GCM_SENDER_ID</key>
	<string>951752901921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyuphanakkaya.sporApp</string>
	<key>PROJECT_ID</key>
	<string>sporapp-9bbc2</string>
	<key>STORAGE_BUCKET</key>
	<string>sporapp-9bbc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951752901921:ios:233f063d164f8d8eb8aa60</string>
</dict>
</plist>